---
import Layout from '~/layouts/Layout.astro'
import { type Listing, ListingSchema } from '~/schemas/listing'
import { Container, Heading } from '@rr/ui/components'
import { useTranslations } from '~/i18n/ui'
import DateText from '~/components/DateText.astro'
import LocationText from '~/components/LocationText.astro'
import ContactForm from '~/components/ContactForm.astro'
import BackgroundRect from '~/components/BackgroundRect.astro'
import ArrowLeftIcon from 'iconoir/icons/arrow-left.svg'
import ArrowRightIcon from 'iconoir/icons/arrow-right.svg'

export const prerender = false

const t = useTranslations()

const { id } = Astro.params

if (!id) {
  return new Response(null, { status: 404 })
}

const item = await Astro.locals.pb
  .collection('listings')
  .getOne(id, { expand: 'team' })
const listing = ListingSchema.parse(item) as Listing;
---

<Layout>
  <Container size="xl" class="md:grid md:grid-cols-[2fr_1fr] gap-12">
    <div>
      <!-- Image Gallery -->
      {listing.images && listing.images.length > 0
        && <div class="relative rounded-xs overflow-hidden">
          {listing.images.length > 1
            && <button data-scroll-snap="previous" class="absolute top-1/2 -translate-y-1/2 left-4 z-10 cursor-pointer bg-white p-2 rounded-xs">
              <span class="sr-only">{t('previous')}</span>
              <ArrowLeftIcon stroke-width="2" />
            </button>
          }
          <div data-scroll-container class="relative flex overflow-x-scroll mb-8 snap-always snap-both snap-mandatory">
            {listing.images.map(image =>
              <button
                data-image-gallery={`${process.env.PUBLIC_API_URL}/api/files/listings/${listing.id}/${image}`}
                class="w-full shrink-0 flex cursor-pointer"
              >
                <img
                  class="aspect-4/3 object-cover snap-start"
                  src={
                    `${process.env.PUBLIC_API_URL}/api/files/listings/${listing.id}/${image}?thumb=1024x1024f`
                  }
                />
              </button>,
            )}
          </div>
          {listing.images.length > 1
            && <button data-scroll-snap="next" class="absolute top-1/2 -translate-y-1/2 right-4 z-10 cursor-pointer bg-white p-2 rounded-xs">
              <span class="sr-only">{t('next')}</span>
              <ArrowRightIcon stroke-width="2" />
            </button>
          }
        </div>
      }

      <Heading tag="h1" size="md" class="mb-3">
        {listing.title}
      </Heading>
      <div class="md:hidden flex flex-wrap gap-x-8 gap-y-3 mb-6">
        <LocationText text={listing.expand?.team?.name} />
        <DateText
          text="Verfügbar ab"
          from={listing.start_date}
          to={listing.end_date ? listing.end_date : undefined}
        />
      </div>
      <p class="font-bold text-body mb-6">
        {listing.description}
      </p>
      {
        listing.material && (
          <>
            <h3 class="font-bold text-heading">
              {t('listing-page.material')}
            </h3>
            <p class="text-body mb-4">{listing.material}</p>
          </>
        )
      }
      {
        listing.measurements && (
          <>
            <h3 class="font-bold text-heading">
              {t('listing-page.measurements')}
            </h3>
            <p class="text-body mb-4">{listing.measurements}</p>
          </>
        )
      }
      {
        listing.condition && (
          <>
            <h3 class="font-bold text-heading">
              {t('listing-page.condition')}
            </h3>
            <p class="text-body mb-4">{listing.condition}</p>
          </>
        )
      }
      {
        listing.pickup_description && (
          <>
            <h3 class="font-bold text-heading">
              {t('listing-page.pickup_description')}
            </h3>
            <p class="text-body mb-4">{listing.pickup_description}</p>
          </>
        )
      }
      {
        listing.address && (
          <div class="md:hidden">
            <h3 class="font-bold text-heading">
              {t('listing-page.address')}
            </h3>
            <p class="text-body mb-4">
              {listing.address}, {listing.postalcode} {listing.city}
            </p>
          </div>
        )
      }

      <ContactForm listing={listing.id} class="mt-12" />
    </div>
    <div class="hidden md:block">
      <div class="sticky top-[86px] py-6 rounded-xs -z-1">
        <!-- <div class="absolute -top-[3rem] w-[calc(100%+3rem)] h-[calc(100%+3rem)] -left-[3rem] bg-[#ffff82] -z-1" /> -->
        <BackgroundRect variant="custom" class="w-[66%] h-[calc(100%+1rem)]! -left-6 top-0" />
        <LocationText text={listing.expand?.team?.name} class="mb-4" />
        <DateText
          text="Verfügbar ab"
          from={listing.start_date}
          to={listing.end_date ? listing.end_date : undefined}
          class="items-start mb-4"
        />
        {listing.address
          && <>
            <h3 class="font-bold text-heading">
              {t('listing-page.address')}
            </h3>
            <p class="text-body">
              {listing.address}, {listing.postalcode}
              {listing.city}
            </p>
          </>
        }
      </div>
    </div>
  </Container>
</Layout>
