---
import { Alert, Button, Checkbox, Container, Heading } from '@rr/ui/components'
import { actions } from 'astro:actions'
import ListingList from '~/components/ListingList.astro'
import { useTranslations } from '~/i18n/ui'
import Layout from '~/layouts/Layout.astro'
import { ListingSchema, type Listing } from '~/schemas/listing'
import { UserSchema, type User } from '~/schemas/user'

export const prerender = false

const t = useTranslations()

if (!Astro.locals.pb.authStore.record?.id) {
  Astro.redirect('/logout')
  return
}

const userAction = Astro.getActionResult(actions.user)
if (!userAction?.error && userAction?.data) {
  return Astro.redirect('/profile?success=profile', 302)
}

const removeListingAction = Astro.getActionResult(actions.removeListing)
if (!removeListingAction?.error && removeListingAction?.data) {
  return Astro.redirect('/profile?success=remove', 302)
}

const record = await Astro.locals.pb
  .collection('users')
  .getOne(Astro.locals.pb.authStore.record?.id, { expand: 'team' })
const user = UserSchema.parse(record) as User

const items = await Astro.locals.pb.collection('listings').getFullList({
  filter: Astro.locals.pb.filter('user = {:user}', { user: user.id }),
  expand: 'user,team',
})
const listings = ListingSchema.array().parse(items) as Listing[]

const success = Astro.url.searchParams.get('success')
---

<Layout>
  <Container size="xl">
    {success && success === 'profile'
      && <Alert variant="success" class="mb-12">
        {t('profile.success.profile')}
      </Alert>
    }
    {success && success === 'remove'
      && <Alert variant="success" class="mb-12">
        {t('profile.success.remove')}
      </Alert>
    }
    {removeListingAction?.error
      && <Alert variant="error" class="mb-12">
        {t('profile.error.remove')}
      </Alert>
    }
    <Heading tag="h1" size="xl" class="mb-4">
      {t('profile.title')}
    </Heading>
    <p class="text-body mb-18">
      {t('profile.name')}:
      {user.firstname}
      {user.lastname}<br />
      {t('profile.email')}: {user.email}<br />
      {t('profile.team')}: {user.expand?.team?.name}<br />
    </p>

    <Heading tag="h2" size="lg" class="mb-4">
      {t('profile.notifications.title')}
    </Heading>
    <div class="mb-18">
      <p class="text-body mb-4">{t('profile.notifications.text')}</p>
      <form class="flex flex-col gap-4" method="post" action={actions.user}>
        <Checkbox id="notifications-new-listing" name="notifications" label={t('profile.notifications.new-listing')} value="new-listing" checked={user.notifications.includes('new-listing')} />
        <!-- <Checkbox id="notifications-newsletter" name="notifications" label="Newsletter" value="newsletter" checked={user.notifications.includes('newsletter')} /> -->
        <Button type="submit" size="sm" label={t('profile.notifications.save')} class="self-start" />
      </form>
    </div>

    <Heading tag="h2" size="lg" class="mb-4">
      {t('profile.active-listings')}
    </Heading>
    {
      listings && listings.length > 0
        ? <ListingList listings={listings} edit={true} />
        : <p class="text-body mb-12 italic">{t('profile.active-listings.none')}</p>
    }
  </Container>
</Layout>
