---
import ArrowLeftIcon from 'iconoir/icons/arrow-left.svg'
import ArrowRightIcon from 'iconoir/icons/arrow-right.svg'
import { useTranslations } from '~/i18n/ui'

const t = useTranslations()

interface Props {
  collection: string
  id: string
  images?: string[]
}

const { collection, id, images } = Astro.props;
---

{
  images && images.length > 0 && (
    <div class="relative rounded-xs overflow-hidden">
      {images.length > 1 && (
        <button
          data-scroll-snap="previous"
          class="absolute top-1/2 -translate-y-1/2 left-4 z-10 cursor-pointer bg-white p-2 rounded-xs"
        >
          <span class="sr-only">{t('previous')}</span>
          <ArrowLeftIcon stroke-width="2" />
        </button>
      )}
      <div
        data-scroll-container
        class="relative flex overflow-x-scroll mb-8 snap-always snap-both snap-mandatory"
      >
        {images.map(image => (
          <button
            data-image-gallery={`${process.env.PUBLIC_API_URL}/api/files/${collection}/${id}/${image}`}
            class="w-full shrink-0 flex cursor-pointer"
          >
            <img
              class="aspect-4/3 object-cover snap-start"
              src={`${process.env.PUBLIC_API_URL}/api/files/${collection}/${id}/${image}?thumb=1024x1024f`}
            />
          </button>
        ))}
      </div>
      {images.length > 1 && (
        <button
          data-scroll-snap="next"
          class="absolute top-1/2 -translate-y-1/2 right-4 z-10 cursor-pointer bg-white p-2 rounded-xs"
        >
          <span class="sr-only">{t('next')}</span>
          <ArrowRightIcon stroke-width="2" />
        </button>
      )}
    </div>
  )
}
