---
import { Button, Card } from '@rr/ui/components'
import { useTranslations } from '~/i18n/ui'
import type { Listing } from '~/schemas/listing'
import EditIcon from 'iconoir/icons/edit-pencil.svg'
import DateText from './DateText.astro'
import LocationText from './LocationText.astro'
import { actions } from 'astro:actions'

interface Props {
  listings: Listing[]
  edit?: boolean
  class?: string
}

const t = useTranslations()

const { listings, edit = false, class: className } = Astro.props;

---

<div
  class:list={['grid grid-cols-1 md:grid-cols-1 gap-12 md:gap-6 -mx-(--body-inline-padding) md:mx-0', className]}
>
  {
    listings.map(listing => (
      <Card
        image={
          listing.images && listing.images.length > 0
            ? `${process.env.PUBLIC_API_URL}/api/files/listings/${listing.id}/${listing.images[0]}`
            : undefined
        }
        class="md:flex-row md:gap-4"
        imageClass="rounded-none! md:rounded-xs! md:max-w-[250px] shrink-0"
        contentClass="md:px-0"
      >
        <h2 class:list={['text-xl text-heading font-bold']}>{listing.title}</h2>
        <div class="flex gap-6">
          <LocationText text={listing.postalcode + ' ' + listing.city} />
          <DateText
            text="Verfügbar ab"
            from={listing.start_date}
          />
        </div>
        <p class="text-base text-body font-light whitespace-pre-line line-clamp-2">
          {listing.description}
        </p>
        <div class="flex gap-2 flex-wrap mt-1">
          {/* View listing */}
          <Button
            href={`/listings/${listing.id}`}
            variant="primary"
            size="sm"
            label={t('listing-card.open')}
            class="self-start"
          />
          {/* Edit listing */}
          {edit && (
            <Button
              href={`/listings/${listing.id}/edit`}
              variant="secondary"
              size="sm"
              label={t('listing-card.edit')}
              icon={EditIcon}
              class="self-start"
            />
          )}
          {/* Remove listing */}
          {edit && (
            <form method="post" action={actions.removeListing}>
              <input type="hidden" name="id" value={listing.id} />
              <confirm-form-submit message={t('listing-card.remove-confirm')}>
                <Button
                  type="submit"
                  variant="secondary"
                  size="sm"
                  label={t('listing-card.remove')}
                  class="self-start"
                />
              </confirm-form-submit>
            </form>
          )}
        </div>
      </Card>
    ))
  }
</div>
