---
import { actions } from 'astro:actions'
import {
  Input,
  Button,
  Alert,
  Textarea,
  ImageInput,
  FileInput,
  Heading,
  Select,
} from '@rr/ui/components'
import { useTranslations } from '~/i18n/ui'
import { fieldError } from '~/forms'
import { isInputError } from 'astro:actions'
import type { Listing } from '~/schemas/listing'
import { asIsoDate } from '~/lib/date'
import EditImageInput from './EditImageInput.astro'
import DownloadIcon from 'iconoir/icons/download.svg'

interface Props {
  update?: boolean
  listing?: Listing
}

const t = useTranslations()

const { update = false, listing } = Astro.props

const teamCreationResult = Astro.getActionResult(actions.createTeam)

const result = Astro.getActionResult(actions.listing)

if (result?.error) {
  console.error(result.error)
}

const formData
  = Astro.request.method === 'POST' ? await Astro.request.formData() : null

const postedListing = formData
  ? ({
      status: formData.get('status') as Listing['status'],
      images: formData.getAll('images') as string[],
      title: formData.get('title') as string,
      description: formData.get('description') as string,
      material: formData.get('material') as string,
      condition: formData.get('condition') as string,
      measurements: formData.get('measurements') as string,
      address: formData.get('address') as string,
      postalcode: formData.get('postalcode') as string,
      city: formData.get('city') as string,
      pickup_description: formData.get('pickup_description') as string,
      start_date: new Date(formData.get('start_date') as string),
      end_date: formData.get('end_date') ? new Date(formData.get('end_date') as string) : '',
    } satisfies Omit<Listing, 'id' | 'team' | 'user' | 'created' | 'updated'>)
  : null

const data = postedListing ? postedListing : listing

const accounting = listing?.expand?.accounting_via_listing?.[0]
let accounting_file_url
if (accounting && accounting.excel_file) {
  const record = await Astro.locals.pb.collection('accounting').getOne(accounting.id)
  const fileToken = await Astro.locals.pb.files.getToken()
  accounting_file_url = Astro.locals.pb.files.getURL(record, record.excel_file, { token: fileToken })
}
---

{
  teamCreationResult?.data && (
    <Alert variant="info" text={t('team-form.success')} class="mb-4" />
  )
}
<form
  class="flex flex-col gap-6"
  method="post"
  action={actions.listing}
  enctype="multipart/form-data"
>
  <input type="hidden" name="type" value={update ? 'update' : 'create'} />
  { update && <input type="hidden" name="id" value={listing?.id} /> }

  { update && listing?.status !== 'new'
    && <Select
      id="status"
      label={t('listing-form.status.label')}
      name="status"
      value={data?.status || ''}
      options={[
        { value: '', label: 'Status' },
        { value: 'open', label: t('listing.status.long.open') },
        { value: 'reserved', label: t('listing.status.long.reserved') },
        { value: 'success', label: t('listing.status.long.success') },
        { value: 'failure', label: t('listing.status.long.failure') },
      ]}
    />
  }

  <Heading tag="h2" size="md">
    {t('listing-form.general.title')}
  </Heading>
  <p class="text-body text-base">{t('listing-form.general.text')}</p>
  <Input
    name="title"
    label={t('listing-form.title.label')}
    value={data?.title}
    error={fieldError('title', result?.error)}
    required
  />
  <Input
    name="material"
    label={t('listing-form.material.label')}
    value={data?.material}
    error={fieldError('material', result?.error)}
    required
  />
  <Input
    name="measurements"
    label={t('listing-form.measurements.label')}
    value={data?.measurements}
    error={fieldError('measurements', result?.error)}
    required
  />
  <Input
    name="condition"
    label={t('listing-form.condition.label')}
    value={data?.condition}
    error={fieldError('condition', result?.error)}
    required
  />
  <Textarea
    name="description"
    label={t('listing-form.description.label')}
    value={data?.description}
    error={fieldError('description', result?.error)}
    required
  />
  {update && listing?.id && ((data?.images && data.images.length > 0) || (listing?.images && listing.images.length > 0))
    && <EditImageInput
      collection="listings"
      recordId={listing?.id}
      images={listing?.images || []}
      selected={data?.images || []}
    />
  }
  <ImageInput
    name="images+"
    label={update
      ? t('listing-form.update.images.label')
      : t('listing-form.create.images.label')}
    buttonText={t('select_images')}
    error={fieldError('images', result?.error)}
  />

  {/* Pickup */}
  <Heading tag="h2" size="md">
    {t('listing-form.pickup.title')}
  </Heading>
  <p class="text-body text-base">{t('listing-form.pickup.text')}</p>
  <Input
    name="address"
    label={t('listing-form.address.label')}
    value={data?.address}
    error={fieldError('address', result?.error)}
  />
  <Input
    name="postalcode"
    label={t('listing-form.postalcode.label')}
    value={data?.postalcode}
    error={fieldError('postalcode', result?.error)}
    required
  />
  <Input
    name="city"
    label={t('listing-form.city.label')}
    value={data?.city}
    error={fieldError('city', result?.error)}
    required
  />
  <Textarea
    name="pickup_description"
    label={t('listing-form.pickup_description.label')}
    value={data?.pickup_description}
    error={fieldError('pickup_description', result?.error)}
  />
  <Input
    name="start_date"
    type="date"
    label={t('listing-form.start_date.label')}
    value={data?.start_date ? asIsoDate(data?.start_date) : ''}
    error={fieldError('start_date', result?.error)}
    required
  />
  <Input
    name="end_date"
    type="date"
    label={t('listing-form.end_date.label')}
    value={data?.end_date ? asIsoDate(data?.end_date) : ''}
    error={fieldError('end_date', result?.error)}
  />

  {/* Bilanzierung */}
  <Heading tag="h2" size="md" class="mt-6">
    {t('listing-form.accounting.title')}
  </Heading>
  {(accounting?.co2 || 0) === 0 && <p class="text-body text-base prose" set:html={t('listing-form.accounting.text')} />}
  {(accounting?.co2 || 0) > 0 && <p class="text-body text-base prose" set:html={t('listing-form.accounting.completed')} />}
  {accounting
    && <Alert variant="info" class="">
      <p>
        {(accounting?.co2 || 0) === 0 && <strong class="inline-block mb-1">{t('listing-form.accounting.existing')}</strong>}
        {(accounting?.co2 || 0) > 0 && <strong class="inline-block mb-1">{t('listing-form.accounting.existing_completed')}</strong>}
        <br />
        <span class="flex gap-2">
          <DownloadIcon />
          <a
            href={accounting_file_url}
            class="underline"
          >
            {accounting.excel_file}
          </a>
        </span>
      </p>
    </Alert>
  }
  {(accounting?.co2 || 0) === 0
    && <FileInput
      name="accounting_file"
      label={t('listing-form.accounting_file.label')}
      error={fieldError('accounting_file', result?.error)}
    />
  }

  {
    result?.error && !isInputError(result.error) && (
      <Alert variant="error" text={result.error.message} />
    )
  }
  <Button
    variant="primary"
    label={update
      ? t('listing-form.update.submit')
      : t('listing-form.create.submit')}
    class="self-start mt-4"
  />
</form>
