---
import { NavigationItem } from '@rr/ui/components'
import { useTranslations } from '~/i18n/ui'
import Logo from '~/assets/logo.svg'
import MenuIcon from 'iconoir/icons/menu.svg'
import CloseIcon from 'iconoir/icons/xmark.svg'
import type { Navigation } from '~/schemas/navigation'
import DynamicIcon from '../DynamicIcon.astro'

interface Props {
  mainNavigation: Navigation | null
  metaNavigation: Navigation | null
  class?: string
}

const { mainNavigation, metaNavigation, class: className } = Astro.props

const t = useTranslations()
---

<header
  data-is-sticky
  class:list={[
    'w-full flex mb-12 px-3 py-3 bg-background sticky top-0 z-50',
    className,
  ]}
>
  <nav class="w-full flex justify-between items-center [.is-sticky_&]:pt-1">
    <div class="flex items-center gap-6">
      <a href="/" class="font-bold mr-8">
        <Logo class="w-55 max-w-[50vw]" />
        <span class="sr-only">{t('header.home')}</span>
      </a>
      {
        mainNavigation && mainNavigation.items.map(({ path, icon, title }) => (
          <NavigationItem href={path} class="hidden lg:block">
            <DynamicIcon icon={icon} />
            { icon ? <span class="sr-only">{title}</span> : title}
          </NavigationItem>
        ))
      }
    </div>
    <div class="hidden lg:flex gap-6 pr-4">
      {
        metaNavigation && metaNavigation.items.map(({ path, icon, title }) => (
          <NavigationItem href={path} class="hidden lg:block">
            <DynamicIcon icon={icon} />
            { icon ? <span class="sr-only">{title}</span> : title}
          </NavigationItem>
        ))
      }
    </div>
    <drawer-menu-trigger target="main-navigation" class="block lg:hidden">
      <NavigationItem class="p-3">
        <MenuIcon width="30" height="30" />
      </NavigationItem>
    </drawer-menu-trigger>
  </nav>

  <drawer-menu class="group block lg:hidden">
    <dialog
      id="main-navigation"
      class:list={[
        'fixed inset-0 left-1/10! z-9999 max-w-full max-h-full w-9/10 h-full',
        '[&[open]]:block [&[open]]:animate-slide-from-left',
        'transition-transform delay-1000',
      ]}
    >
      <div
        class="flex bg-background flex-col justify-stretch max-w-screen max-h-full w-full h-full overflow-hidden"
      >
        <drawer-menu-page open class="relative p-8">
          <form method="dialog">
            <button type="submit" class="absolute top-8 right-8">
              <CloseIcon width="30" height="30" />
            </button>
          </form>
          <ul class="flex flex-col gap-4 mb-8">
            <li>
              <NavigationItem href="/" class="text-lg">
                {t('header.home')}
              </NavigationItem>
            </li>
            {
              mainNavigation && mainNavigation.items.map(({ path, icon, title }) => (
                <li>
                  <NavigationItem href={path} class="text-lg">
                    <DynamicIcon icon={icon} />
                    { title}
                  </NavigationItem>
                </li>
              ))
            }
          </ul>
          <ul class="flex flex-col gap-4">
            {
              metaNavigation && metaNavigation.items.map(({ path, icon, title }) => (
                <li>
                  <NavigationItem href={path} class="text-lg">
                    <DynamicIcon icon={icon} />
                    { title}
                  </NavigationItem>
                </li>
              ))
            }
          </ul>
        </drawer-menu-page>
      </div>
    </dialog>
  </drawer-menu>
</header>

<script src="@rr/drawer-menu"></script>
