---
import Layout from "~/layouts/Layout.astro";
import { type Listing, ListingSchema } from "~/schemas/listing";
import { Card, Button, Container } from "@rr/ui/components";
import EmailVerificationWarning from "~/components/EmailVerificationWarning/EmailVerificationWarning.astro";
import { defaultLang, useTranslations } from "~/i18n/ui";

export const prerender = false;

const t = useTranslations();

const items = await Astro.locals.pb
  .collection("listings")
  .getFullList({ expand: "user,user.team" });
const listings = ListingSchema.array().parse(items) as Listing[];

const isNewUser = !Astro.locals.pb.authStore.record!.roles.includes("user");
---

<Layout>
  <Container size="xl">
    <EmailVerificationWarning />
    <div class="flex justify-between items-center mb-4">
      <h1 class="text-2xl font-bold">Dashboard</h1>
      {
        !isNewUser && (
          <Button label="New listing" href="/listings/new" class="mb-4" />
        )
      }
    </div>
    {
      isNewUser ? (
        <>
          <h2 class="text-xl font-bold mb-3">
            {t("dashboard.user-approval.title")}
          </h2>
          <p>{t("dashboard.user-approval.text")}</p>
        </>
      ) : (
        <>
          <div class="grid grid-cols-3 gap-4">
            {listings.map((listing) => (
              <Card title={listing.title} border>
                <div class="flex flex-col gap-2 mt-2">
                  {listing.images && listing.images.length > 0 && (
                    <img
                      src={`${process.env.PUBLIC_API_URL}/api/files/listings/${listing.id}/${listing.images[0]}`}
                      class="w-full aspect-square object-cover rounded-md"
                    />
                  )}
                  <p class="text-stone-500">
                    @{listing.expand?.user?.expand?.team?.name} -{" "}
                    {new Date(listing.created).toLocaleDateString(defaultLang)}
                  </p>
                  <p class="text-stone-700">{listing.description}</p>
                </div>
              </Card>
            ))}
          </div>
        </>
      )
    }
  </Container>
</Layout>
